/* /Components/MessageComponent.razor.rz.scp.css */
/* /Components/MessageHeader.razor.rz.scp.css */
/* /Components/MessageInput.razor.rz.scp.css */
.spinner-grow[b-sdtm2nrqkr] {
    animation: spinner-grow 0.75s linear infinite;
}

.delay-0[b-sdtm2nrqkr] { animation-delay: 0s; }
.delay-1[b-sdtm2nrqkr] { animation-delay: 0.1s; }
.delay-2[b-sdtm2nrqkr] { animation-delay: 0.2s; }
.delay-3[b-sdtm2nrqkr] { animation-delay: 0.3s; }
.delay-4[b-sdtm2nrqkr] { animation-delay: 0.4s; }
.delay-5[b-sdtm2nrqkr] { animation-delay: 0.5s; }
.delay-6[b-sdtm2nrqkr] { animation-delay: 0.6s; }
/* /Components/MessageSent.razor.rz.scp.css */
/* /Components/Persona.razor.rz.scp.css */
/* /Components/PersonaHeader.razor.rz.scp.css */
/* /Components/PersonaListComponent.razor.rz.scp.css */
/* /Components/PopUpModal/AddProfileComponent.razor.rz.scp.css */
.whatsapp-modal .modal-content[b-erhfpx56c5] {
    background-color: #e5ddd5;
    border-radius: 10px;
    border: none;
}

.whatsapp-modal .modal-header[b-erhfpx56c5] {
    background-color: #075e54;
    color: white;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}

.whatsapp-modal .modal-footer[b-erhfpx56c5] {
    border-top: none;
    background-color: #f0f0f0;
    border-radius: 0 0 10px 10px;
}

.whatsapp-modal .form-control[b-erhfpx56c5] {
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
}

.whatsapp-modal .btn-primary[b-erhfpx56c5] {
    background-color: #25d366;
    border: none;
    border-radius: 20px;
}

.whatsapp-modal .btn-primary:hover[b-erhfpx56c5] {
    background-color: #1ebd5a;
}

.btn-launch[b-erhfpx56c5] {
    background-color: #25d366;
    border: none;
}

.btn-launch:hover[b-erhfpx56c5] {
    background-color: #1ebd5a;
}
/* /Components/PopUpModal/GeminiApikeyModal.razor.rz.scp.css */
.whatsapp-modal .modal-content[b-7t4nga3r34] {
    background-color: #e5ddd5;
    border-radius: 10px;
    border: none;
}

.whatsapp-modal .modal-header[b-7t4nga3r34] {
    background-color: #075e54;
    color: white;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}

.whatsapp-modal .modal-footer[b-7t4nga3r34] {
    border-top: none;
    background-color: #f0f0f0;
    border-radius: 0 0 10px 10px;
}

.whatsapp-modal .form-control[b-7t4nga3r34] {
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
}

.whatsapp-modal .btn-primary[b-7t4nga3r34] {
    background-color: #25d366;
    border: none;
    border-radius: 20px;
}

.whatsapp-modal .btn-primary:hover[b-7t4nga3r34] {
    background-color: #1ebd5a;
}

.btn-launch[b-7t4nga3r34] {
    background-color: #25d366;
    border: none;
}

.btn-launch:hover[b-7t4nga3r34] {
    background-color: #1ebd5a;
}
/* /Components/PopUpModal/ProfilePopupComponent.razor.rz.scp.css */
/* /Components/SearchContainer.razor.rz.scp.css */
