<div class="input-container d-flex align-items-center">
    <button class="icon-btn"><i class="bi bi-emoji-smile"></i></button>
    <button class="icon-btn"><i class="bi bi-paperclip"></i></button>
    <input type="text" class="message-input me-2" placeholder="Type a message">
    <button class="icon-btn"><i class="bi bi-mic"></i></button>
</div>