@page "/"
@using ProfiledAi.Components
@using ProfiledAi.Utils
<div class="container-fluid app-container bg-white">
    <div class="row h-100"> 
        <div class="@_siderBarClass">
            <PersonaListComponent Model="_personaModels"  SidebarIsActive="SideBarVisible" SelectedPersonaModel="PersonalModelSelectionChanged"/>
        </div> 
        <div class="col-md-8 col-lg-9 p-0 main-chat">
            <MessageComponent Model="_selectedPersona" ToggleSideBarClass="ToggleSideBar"/>
        </div>
    </div>
</div>
